
#logo img{
  height: auto;
  width: 100%;
}

#logo{
  position: relative;
  margin-top: 27%;
  margin-left: 33%;
  margin-right: 33%;
  align-content: center;
}

.frase_div{
  position: relative;
  text-align: center;
  margin-top: 1%;
}
#frase_p{
  color: #fff;
  font-size: 25px;
  margin-right: 33%;
  margin-left: 33%;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#signin{
  margin-top:5%;
}

#register{
  margin-top:0px;
}

footer.sticky-footer {
  position: absolute;
  right: 0;
  top: 90%;
  width: 100%;
  height: 80px;
  background-color: #04587D;
  --input-padding-x: 0.75rem;
  --input-padding-y: 0.75rem;
  box-sizing: border-box;
  padding-top: 30px;
}

footer.sticky-footer .copyright {
  line-height: 1;
  font-size: 0.8rem;
  color: rgb(179, 179, 179);
}

a:link {
  color:rgb(179, 179, 179);
}
a:visited {
  color:rgb(179, 179, 179);
}
a:active {
  color:rgb(179, 179, 179);
}
a:hover {
  color:rgb(179, 179, 179);
}

#fondo{
  position: fixed;
  width: 50%; 
  height: 90%;
  left: 0;
  top:0;
}
#main{
  position: fixed;
  width: 50%; 
  height: 90%;
  right: 0;
  top:0;
  background: linear-gradient( to right, rgba(4, 51, 71, 1), rgba(15, 118, 177, 1));
  align-content: center;
}
.register{
  background: #fff;
  border-radius: 10px;
  width: 90%;
  box-sizing: border-box;
  margin: 1%;
  padding: 3%;
  align-content: center;
}

#sign_in{
  margin-top: 33%;
}

#enlace {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.div_footer{
  margin-top: 2%;
}

span{
  margin-left: 4%;
  margin-right: 4%;
}

#enlace1 {
  height: fit-content;
  margin-left: 3%;
  margin-right: 3%;
  display: inline-flex;
}

a:link{
  text-decoration:none;
  color: azure;
} 

@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,900);
* {
  box-sizing: inherit;
  transition-property: all;
  transition-duration: .6s;
  transition-timing-function: ease;
}


body {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  overflow-x:hidden;
  overflow-y:hidden;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.buttons {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  text-align: center;
  width: 100%;
}

/* 
@media (min-width: 600px) {
  .container {
    flex-direction: row;
    justify-content: space-between;
  }
} */

h1 {
  color: #fff;
  font-size: 1.25em;
  font-weight: 900;
  margin: 0 0 2em;
}
/* @media (min-width: 450px) {
  h1 {
    font-size: 1.75em;
  }
} */
/* @media (min-width: 760px) {
  h1 {
    font-size: 3.25em;
  }
} */
/* @media (min-width: 900px) {
  h1 {
    font-size: 5.25em;
    margin: 0 0 1em;
  }
} */

p {
  color: #fff;
  font-size: 12px;
}
/* @media (min-width: 600px) {
  p {
    left: 50%;
    position: absolute;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    }
}
@media (max-height: 500px) {
  p {
    left: 0;
    position: relative;
    top: 0;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
} */
p a {
  background: rgba(255, 255, 255, 0);
  border-bottom: 1px solid;
  color: #fff;
  line-height: 1.4;
  padding: .25em;
  text-decoration: none;
}
p a:hover {
  background: white;
  color: #04587D;
}

.btn {
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  line-height: 45px;
  margin: 0 0 2em;
  max-width: 160px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
}
/* @media (min-width: 600px) {
  .btn {
    margin: 0 1em 2em;
  }
} */
.btn:hover {
  text-decoration: none;
}

.btn-1 {
  background: #04587D;
  font-weight: 100;
  margin-left: auto;
  margin-right: auto;
}
.btn-1 svg {
  height: 45px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.btn-1 rect {
  fill: none;
  stroke: #fff;
  stroke-width: 2;
  stroke-dasharray: 422, 0;
  transition: all 0.35s linear;
}

.btn-1:hover {
  background: rgba(225, 51, 45, 0);
  font-weight: 900;
  letter-spacing: 1px;
}
.btn-1:hover rect {
  stroke-width: 5;
  stroke-dasharray: 15, 310;
  stroke-dashoffset: 48;
  transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
}

@media only screen and (max-width:620px) {
  /* For mobile phones: */
  #fondo{
    display: none;
  }
  #main{
    width: 100%;
  }
  #signin{
    margin-top:5%;
  }
  .frase_div{
    position: relative;
    text-align: center;
    margin-top: 7%;
  }
  #logo{
    position: relative;
    margin-top: 33%;
    margin-left: 33%;
    margin-right: 33%;
    align-content: center;
  }
}

@media only screen and (max-width: 768px) { /*For tablets*/
  #fondo{
    display: none;
  }
  #main{
    width: 100%;
  }
  #signin{
    margin-top:7%;
  }
  .frase_div{
    position: relative;
    text-align: center;
    margin-top: 5%;
  }
}

  