a:link {
  color:rgb(179, 179, 179);
}
a:visited {
  color:rgb(179, 179, 179);
}
a:active {
  color:rgb(179, 179, 179);
}
a:hover {
  color:rgb(179, 179, 179);
}

.overlay {
    background: rgb(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    /*transition: opacity 500ms;
    opacity: 0;*/
}

#addLanguage {
    display: none;
    z-index: 10;
}

#addCode {
  display: none;
  z-index: 10;
}


/*#addLanguage:target {
    display: block;
}*/

#addLanguageMain {
    height: 250px;
    width: fit-content;
    background-color: #048ABF;
    margin-left: 500px;
    margin-top: 150px;
    border-radius: 20px;
}

#addCodeMain {
  height: 200px;
  width: fit-content;
  background-color: #048ABF;
  margin-left: 500px;
  margin-top: 150px;
  border-radius: 20px;
}

.popup_header {
    height: fit-content;
    margin-top: 20px;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popup_body {
    padding: 10px 15px;
    box-sizing: border-box;
}

.close_button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 25px;
    font-weight: bold;
    margin: 2%;
    color: #ffffff;
    transition: 0.3s ease all;
    text-decoration: none;
}

.close_button:hover {
    color: black;
    text-decoration: none;
}
 /*Estilos para cada uno de los leguajes de programación admitidos, todos ellos disponen de display none para seleccionar cuál se ve*/
 #editor{
  display: none;
}

#editor_js { 
  width: calc(100% - 20px);
  position: absolute;
  top: 74px;
  /*right: 0;*/
  bottom: 80px;
  /* left: 225px; */
}
#editor_python{ 
  position: absolute;
  top: 74px;
  right: 0;
  bottom: 80px;
  left: 225px;
}

#editor_ruby{ 
  position: absolute;
  top: 74px;
  right: 0;
  bottom: 80px;
  left: 225px;
}
#editor_java{ 
  position: absolute;
  top: 74px;
  /* right: 0; */
  bottom: 80px;
  /* left: 225px; */
}

#editor_css{ 
  position: absolute;
  top: 74px;
  right: 0;
  bottom: 80px;
  left: 225px;
}
#editor_swift{ 
  position: absolute;
  top: 74px;
  right: 0;
  bottom: 80px;
  left: 225px;
}
  